extends layout

block content 

	//-FACEBOOK SDK SCRIPT CONTAINER
	div(id="fb-root")

	//- EMBER APP MAIN TEMPLATE (data-template-name="application" BY DEFAULT)
	script(type="text/x-handlebars")
		
		{{outlet}}